.service-grid{
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 250px;
    height: 300px;
    padding: 1.5rem;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

@media screen and (max-width: 790px) {
    .service-grid{
        margin: 1rem;
    }
}

.service-grid h2{
    line-height: 29px;
    margin: 0.4rem 0;
    
}

.service-grid p{
    color: var(--color-text);
}

.service-grid-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(175, 194, 212);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.service-grid-icon img{
    width: 70%;
    height: 70%;
}