.socialmedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.socialmedia-icon{
    margin: 0 2rem;
}

@media screen and (max-width:480px) {
    .socialmedia-icon{
        margin: 0 0.5rem;
    }
}